@charset "utf-8";

body
{
    font-family: "Ubuntu Mono", "Courier New", sans-serif;
    font-size: 1em;
    background-color: #5E2D79;
    background-image: url("binary.png");
}

#container
{
    width: 60%;
    margin: auto;
    background-color: #CC99CC;
    padding-left: 3em;
    padding-right: 3em;
}

nav
{
    background-color: #606060;
}

nav li
{
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
}

nav a
{
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
}

h1
{
    font-size: 6em;
}

h2
{
    font-size: 2em;
    padding-top:1em;
    padding-bottom: .5em;
}

h3
{
    font-size: 1.5em;
    font-weight: bold;
}

figure
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

blockquote
{
    font-style: italic;
    padding-left: 5em;
    padding-right:5em;
    padding-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}

p
{
    font-size: 1.5em;
    padding-bottom: 1em;
}

#footer
{
    padding-top: 3em;
}

#outputbox
{
    height: 300px;
}

#favorites
{
    padding-left: 10em;
    font-size: 1.5em;
}